@font-face {
  src: url(fonts/Roboto-Regular.ttf);
  font-family: 'Roboto-Regular';    
  font-weight: normal;
} 
@font-face {
  src: url(fonts/Roboto-Bold.ttf);
  font-family: 'Roboto-Bold';    
  font-weight: bold;
} 

/*===== template base do site =====*/
:root{
  --primaryFont:"Roboto-Regular";
  --primary-color: #7159c1;
  --color-green:#50fa7b;
  --secondary-color: #f7df1e;
}

*{
 margin:0;
 padding:0;
 border: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: var(--primary-color);
  font-family: var(--primaryFont),"sans-serif";

}

header{
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}
 
.links{
  font-size: 22px;
}

.links a + a{
  margin-left: 32px;
}

.links a{
  position: relative;
  text-decoration: none;
  color: #777;
}

.links a.active{
  font-family: "Roboto-Bold","sans-serif";
  color:var(--primary-color);
}

.links a:hover{
  color: var(--primary-color);
}
.links a::after{
  content: "";
  position: absolute;
  left:0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
}
.links a:hover::after{
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* card pagina instrutor */
.card{
  background-color: white;
  width: 800px;
  min-height: 400px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.4);

  opacity: 0;
  animation: up;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes up{
  from{
    transform: translateY(100px);
  }
  to{
    opacity: 1;
  }
}

/* Details */

.details{
  padding: 32px;
}
.details .item{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 16px 0;
}
.details .item:last-child{
  border-bottom:none;
}

.details h3,
.details .item div:nth-child(1){
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 0.7px;
}

.details .item div:nth-child(2){
  color: #555;
  font-family: 'Roboto-Bold';
  font-size: 18px;
}

.details h3{
  text-transform: uppercase;
  font-family: 'Roboto-Bold';
  color: var(--primary-color);
}

.details .item span{
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: #777;
  margin-right: 4px;
  border-radius: 16px;
  margin-top: 8px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

/*form */
input, select{
  width: 100%;
  outline: none;
  color: #555;
  font-family: 'Roboto-Bold';
  font-size: 18px;
}

input[type="radio"]{
  width: initial;
  margin-right: 4px;
}

input::placeholder{
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"],
a.button{
  padding: 8px 32px;
  font-family: 'Roboto-Bold';
  background-color:var(--primary-color);
  border-radius: 8px;
  margin-top: 32px;
  width: 100%;
  font-size:16px;
}
a.button{
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;

}
#form-delete button[type="submit"]{
  margin-top: 8px;
  background-color: lightcoral;
}
/* INDEX INSTRUCTORS */
.table-container{
  display: block;
  padding: 40px;
  box-sizing: border-box;
}
 table{
  border-spacing: 0;
}
 thead tr th{
  text-align: left;
}
 td,th{
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}
th{
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
}
 tbody tr:last-child td{
  border-bottom: none;
}

tbody tr td:first-child span{
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
}

tbody tr td:first-child span{
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
}
tbody tr td:last-child a,
.table-container > a{
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  border-radius: 4px;
  color:white;
}

.table-container > a{
  margin-bottom: 16px;
  display: inline-block;
}

thead tr th:last-child,
td:last-child{
  text-align: center;
}