@font-face {
  src: url(fonts/Roboto-Regular.ttf);
  font-family: 'Roboto-Regular';    
  font-weight: normal;
} 
@font-face {
  src: url(fonts/Roboto-Bold.ttf);
  font-family: 'Roboto-Bold';    
  font-weight: bold;
} 

/*===== template base do site =====*/
:root{
  --primaryFont:"Roboto-Regular";
  --primary-color: #7159c1;
  --color-green:#50fa7b;
}

*{
 margin:0;
 padding:0;
 border: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: var(--primary-color);
  font-family: var(--primaryFont),"sans-serif";

}

header{
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}
 
.links{
  font-size: 22px;
}

.links a + a{
  margin-left: 32px;
}

.links a{
  position: relative;
  text-decoration: none;
  color: #777;
}

.links a.active{
  font-family: "Roboto-Bold","sans-serif";
  color:var(--primary-color);
}

.links a:hover{
  color: var(--primary-color);
}
.links a::after{
  content: "";
  position: absolute;
  left:0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
}
.links a:hover::after{
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* card pagina instrutor */
.card{
  background-color: white;
  width: 800px;
  height: 400px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.4);

  opacity: 0;
  animation: up;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes up{
  from{
    transform: translateY(100px);
  }
  to{
    opacity: 1;
  }
}